PlayerName=Juanjo
GameProxy=drobots2
GameProxy.Locator=IceGrid/Locator -t:tcp -h atclab.esi.uclm.es -p 4061
PlayerAdapter.Endpoints=default
RB_Factory1=RB_Factory1 -t -e 1.1:tcp -h localhost -p 8000
RB_Factory2=RB_Factory2 -t -e 1.1:tcp -h localhost -p 8001
RB_Factory3=RB_Factory3 -t -e 1.1:tcp -h localhost -p 8002